{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'head' %}
    <link rel="stylesheet" href="{% static 'geral/css/perfil.css'%}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block 'main'%}
    <h1>Bem vindo!!</h1> 
    <div class="header">
        {% if user.perfil_imagem %}
           <img src="{{ user.perfil_imagem.url }}" alt="Imagem de perfil" style="max-width: 100px;">
        {% else %}
           <p>Sem imagem de perfil.</p>
        {% endif %}
        <div class="name-user">
            {{user.username}}
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <p>Esse site foi desenvolvido por Kethelyn Cavalari,  como forma de estudo para conseguir fazer uma conta de usuario, <br>usando django e python, Obrigado por ter ajudado a testar o site!</p>
    </div>
    {% endblock %}
</body>
</html>